* {
    color: #7510f7;
    margin: 10px;
    font-family: Arial, Helvetica, sans-serif;
}

header {
    text-align: center;
    background-color:rgba(69, 136, 69, 0.8);
    padding: 15px;
}

header h1 {
    font-weight: bolder;
    color: whitesmoke;
}

footer {
    background-color:rgba(69, 136, 69, 0.8);
    text-align: center;
    color: white;
    margin-top: 50px;
    padding: 025px;
    position: sticky;
    position:bottom;
    z-index: 99999;

}

#displayCurrent {
    border-top: 5px solid black;
    justify-content: center;
}

#fiveDayRow {
    border-top: 5px solid black;
    justify-content: center;
}

.form-label {
    font-weight: bolder;
    font-size: x-large;
}

.city {
    font-weight: bold;
    color: black;
    text-transform: capitalize;
}

.card {
    background-color:rgba(76, 66, 142, 80%);
    border: .5 solid darkslateblue;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    
}

.card h5 {
    font-weight: bold;
    color: white;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.card p{
    color: whitesmoke;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.card-body {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-evenly;
}


.high {
    color:red;
}

.low {
    color:royalblue;
}

.favorable {
    color: lightgreen;
    border: 1px solid black;
  }
  
  .moderate {
    color: orange;
    border: 1px solid black;
  }
  
  .severe {
   color: red;
    border: 1px solid black;
  }